body{
font-family: Roboto, sans-serif;
color: #212121;
background-color: #FFFFFF;
font-size: 100%;
letter-spacing: 0.03em;
margin: 0;
padding: 0;
}


:root{
    --color1: #000000;
    --color2: #2196F3;
    --color3: #2F303A;;
    --color4: #FFFFFF;
    --color5: #757575;
    --color6: #F5F4FA;
    --color7: #ECECEC;
    --color8: #212121;
    --color9: #188CE8;
    --color10: #EEEEEE;
}

img{
display: block;
}

.container{
width:1200px;
margin: 0 auto;
}
    
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}




/* _______________________________________HEADER_________________________ */
.head-page{
height: 80px;
border: 1px solid var(--color7);
}

.line-head{
display: flex;
}

.logo-head{
font-size: 26px;
line-height: 1.1;
font-family: 'Raleway';
text-decoration: none;
color: var(--color1);
padding-left: 15px;
padding-top: 24px;
}

.logo-two{
color: var(--color2);
}
    
.nav-head{
display: flex;
}

.head-menu{
display: flex;
list-style-type: none;
gap: 50px;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
padding: 0;
margin: 0;
margin-left: 93px;

padding-top: 32px;
}

.menu-link{
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--color8);
font-weight: 500;
}

.head-contacts{
    margin: 0;
display: flex;
list-style-type: none;
margin-left: 344px;
gap: 50px;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
padding: 0;
padding-top: 32px;
}

.menu-contacts{
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
font-weight: 500;
color: var(--color5);
}

/* _______________________________________MAIN-INDEX____________________ */

/* _______________________________________SECTION 1*/

.background-image{
margin: 0 auto;
width: 1600px;
background: var(--color3);
background-image: url("img/overlay.jpg");

}
.head-top{
margin: 0 0;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
padding-top: 200px;
padding-left: 252px;
padding-right: 252px;
color: var(--color4);
width: 696px;
box-sizing: content-box;
}

.but-pozition{
padding-left: 492px;
padding-top: 30px;
padding-bottom: 200px;
}

.button-top{
border: 0;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
font-weight: 700;
padding: 10px 32px;

cursor: pointer;
color: var(--color4);
background: var(--color9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}



.button-sec-one:hover{
background: var(--color2);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* _______________________________________SECTION 2*/

svg{
    display: block;
}

.benefits-icon{
    width: 70px;
    height: 70px;
}

.benefits-icons{
width: 270px;
height: 120px;
}

.visually-hidden {
position: absolute;
white-space: nowrap;width: 1px;
height: 1px;overflow: hidden;
border: 0;padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px; 
}

.benefits-list{
display: flex;
justify-content: center;
gap: 30px;
padding: 0;
margin: 0;
}

.benefits-items{
list-style-type: none;
}

.benefits-head{
width: 270px;
height: 16px;
font-size: 14px;
line-height: 1.1;
text-transform: uppercase;
margin: 0;
padding: 0;
margin-bottom: 10px;
}


.text-benefits{
width: 270px;
height: 72px;
font-size: 14px;
line-height: 1.71;
color: var(--color5);
margin: 0;
padding: 0;
}
    

/* _______________________________________SECTION 3 */


.doing{
padding: 0;
}

.doing-head{
font-size: 36px;
line-height: 1.1;
text-align: center;
margin: 0 auto;
margin-bottom: 50px;
}

.doing-list{
display: flex;
gap: 30px;
justify-content: center;
margin: 0;
padding: 0;

}

.doing-items{
list-style: none;
}

/* _______________________________________SECTION 4 */
.staff{
background: var(--color6);
}
 
.staff-head{
font-size: 36px;
line-height: 1.1;
text-align: center;
padding: 0 ;
margin: 0 ;
}

.staff-list{
display: flex;
justify-content: center;
gap: 30px;
padding: 0;
margin: 0;
margin-top: 50px;
}

.staff-items{
list-style-type: none;
background: var(--color4);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
justify-content: center;
flex-direction: column;
}

.name-staff{ 
font-weight: 500;
font-size: 16px;
line-height: 1.1;
text-align: center;

margin: 0;
color: var(--color8);
padding-top: 30px;
}

.positions-staff{
padding-bottom: 30px;
font-size: 16px;
line-height: 1.1;
text-align: center;
padding-top: 10px;
margin: 0;
color: var(--color5);
}



/* _______________________________________MAIN-PORTFOLIO__________________________ */

/* ______________________________________SECTION 1 */
.menu-portfolio{
padding-bottom: 0;
}

.portfolio-list{
display: flex;
flex-wrap: wrap;
gap: 9px;  
margin: 0;
padding: 0;
justify-content: center;
}

.portfolio-items{
display: flex;
list-style-type: none;
margin: 0;
display: inline;
}

.portfolio-section{
display: flex;
flex-wrap: wrap;
gap: 9px;  
margin: 0;
padding: 0;
justify-content: center;
}

.button-portfolio{ 
font-weight: 500;
border: 0;
font-size: 16px;
line-height: 1.6;
background: var(--color6);
border-radius: 4px;
cursor: pointer;
padding: 6px 22px;

}

.button-portfolio:hover{
background: var(--color2);
color: var(--color4);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
/* ______________________________________SECTION 2 */

.grid-portfolio{
padding-top: 50px;
}

.card-list{
display: flex;
flex-wrap: wrap;
gap: 30px;  
margin: 0;
padding: 0;
justify-content: center;
}


.cards-items{
list-style-type: none;

}

.frame{
margin: 0;
list-style-type: none;
box-sizing: border-box;
border-right: 1px solid var(--color10);
border-left: 1px solid var(--color10);
border-bottom: 1px solid var(--color10);
}

.name-card{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin: 0;
padding: 0;
padding-left: 24px;
padding-top: 20px;
}

.text-portfolio{
font-weight: 400;
font-size: 16px;
line-height: 1.8;
margin: 0;
padding: 0;
padding-left: 24px;
margin-top: 4px;
padding-bottom: 20px;
color: var(--color5);
}

/* _______________________________________FOOTER_________________________ */
.foot-page{
background: var(--color3);
}

.navigation-logo{
padding-top: 60px;
padding-left: 15px;
}

.logo-foot{
font-size: 26px;
line-height: 0.8;
font-family: 'Raleway';
text-decoration: none;
color: var(--color4);
}

.navigation-foot{
padding-bottom: 60px;
padding-left: 15px;
margin-top: 20px;
}

.list-foot{
list-style-type: none;
padding: 0;
margin: 0;
}

.local{
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
color: var(--color4);
}

.contact-foot{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
text-decoration: none;
color:rgba(255, 255, 255, 0.6); 
}

.foot-items{
margin-top: 9px;
}



.change:hover{
color: var(--color2);
}

.active{
color: var(--color2);
}